
<button id="rzp-button1">Pay with Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "{{.KeyId}}", 
    "amount": "{{.TotalAmount}} ", 
    "currency": "INR",
    "name": "Veg*n",
    "description": "One step away from a healthy meal.",
    "image": "https://example.com/your_logo",
    "order_id": "{{.RazorPayId}}", 
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "{{.UserName}}",    
        "email": "{{.Email}}",
        "contact": "{{.Phone}}"
    },
    "notes": {
        "address": "Veg*n Corporate Office"
    },
    "theme": {
        "color": "#c4f593"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>